services:
  grabber:
    image: imgbrd-grabber-docker
    environment:
      - TZ=America/Phoenix
      - KEEP_APP_RUNNING=1
      - VNC_PASSWORD=SecurePassword
      - USER_ID=1000
      - GROUP_ID=1000
      - DARK_MODE=1
    restart: always
    volumes:
      - ~/grabber:/grabber #optional - holds the grabber binary and it's config files. Useful to persist configurations.
      - ~/data:/data #Downloads volume - Must be set as the save path during the first run of Grabber.
    ports:
      - 5800:5800 #Web interface port
      - 5900:5900 #Optional - VNC port
